---
layout: default
title: Study
---

<h1>{{ page.title }}</h1>
<p>이곳에서는 제가 공부한 기록을 모아두었습니다. 아래 카테고리를 선택하세요.</p>
<hr>

{% assign project_categories = "OWASP-Top-10" | split: "," %}
<h2>카테고리 목록</h2>
<ul class="category-list">
  {% for pair in site.categories %}
    {% assign cat = pair[0] %}
    {% assign posts = pair[1] %}
    {% unless project_categories contains cat %}
      {% if posts and posts.size > 0 %}
        <li>
          <a class="post-link"
             href="{{ '/category/' | append: cat | append: '.html' | relative_url }}">
            {{ cat }} ({{ posts.size }})
          </a>
        </li>
      {% endif %}
    {% endunless %}
  {% endfor %}
</ul>
