<header class="site-header">
    <div class="container">
        <!-- 로고/블로그 제목 -->
        <a class="site-title" href="{{ "/" | relative_url }}">HamaP<span class="signature-icon-wrapper"><!-- 라이트 모드 아이콘 --><img class="signature-icon light-icon" src="data:image/svg+xml,..."><!-- 다크 모드 아이콘 --><img class="signature-icon dark-icon" src="data:image/svg+xml,..."></span>의 블로그</a>

        <!-- 네비게이션 메뉴 -->
        <nav class="site-nav">
                {%- comment -%} 'project'를 'Projects'로 수정 {%- endcomment -%}
                {% assign project_posts = site.posts | where_exp: "post", "post.categories contains 'Projects'" %}
                {% if project_posts.size > 0 %}
                    <a href="{{ "/projects.html" | relative_url }}">Project</a>
                {% endif %}
                <a href="{{ "/study.html" | relative_url }}">Study</a>
                <a href="{{ "/about.html" | relative_url }}">HamaP<span class="signature-icon-wrapper"><!-- 라이트 모드 아이콘 --><img class="signature-icon light-icon" src="data:image/svg+xml,..."><!-- 다크 모드 아이콘 --><img class="signature-icon dark-icon" src="data:image/svg+xml,..."></span></a>
        </nav>
    </div>
</header>
