---
layout: default
title: NGFW
category: NGFW
---

<h1>{{ page.title }}</h1>
<p>차세대 방화벽 NGFW 학습 기록입니다.</p>
<hr>

<ul class="post-list">
  {% if site.categories[page.category] %}
    {% assign posts = site.categories[page.category] | sort: 'date' | reverse %}
    {% for post in posts %}
      <li>
        <h2>
          <a class="post-link" href="{{ post.url | relative_url }}">
            {{ post.title }}
          </a>
        </h2>
      </li>
    {% endfor %}
  {% endif %}
</ul>