---
layout: default
---

<h1>카테고리: {{ page.category }}</h1>
<hr>

<ul class="post-list">
  {% assign category_posts = site.categories[page.category] | sort: 'date' | reverse %}
  {% for post in category_posts %}
    <li>
      <h3>
        <a class="post-link" href="{{ post.url | relative_url }}">{{ post.title | escape }}</a>
      </h3>
      <p class="post-meta">{{ post.date | date: "%Y년 %m월 %d일" }}</p>
      {%- if post.excerpt -%}
        <p>{{ post.excerpt | strip_html | truncatewords: 50 }}</p>
      {%- endif -%}
    </li>
  {% endfor %}
</ul>